<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block title %}
    <title>这是工单系统的首页</title>
    {% endblock %}
</head>

<body>
{% block body %}
<div class="container bg-warning w-25 p-5">
    <div style="text-align: center" class="my-5"><h1>首页</h1></div>
    <div style="text-align: center" class="my-5"><h2><a href="{%  url 'white' %}">公网加白工单</a></h2></div>
    <div style="text-align: center" class="my-5"><h2><a href="{%  url 'nat' %}">公网NAT工单</a></h2></div>
    <div style="text-align: center" class="my-5"><h2><a href="{%  url 'insideaccess' %}">内部互访工单</a></h2></div>
    <div style="text-align: center" class="my-5"><h2><a href="{%  url 'ipsu' %}">IP地址计算工具</a></h2></div>
</div>
{% endblock %}
</body>

</html>