{% extends "index.html" %}
{% block title %}
    <title>内部互访工单页面</title>
{% endblock %}
{% block body %}
    <div class="container-fluid  bg-warning border-2" style="width: 1200px">
        <h1>内部互访工单</h1>
        <form class="pt-3" action="" method="post">
            {% csrf_token %}
            <div style="float: left" class="border">
                <div style="color: red"><h5>第一组</h5></div>
                <div>源VLAN:</div>
                <div><input style="width: 280px" id="u835_input" type="text" name="svlan1" required></div>
                <div>源IP地址：</div>
                <div><input style="width: 280px" id="u837_input" type="text" name="sip1" required></div>
                <div>目的VLAN：</div>
                <div><input style="width: 280px" id="u839_input" type="text" name="dvlan1" required></div>
                <div>目的IP地址：</div>
                <div><input style="width: 280px" id="u841_input" type="text" name="dip1" required></div>
                <div>目的端口[如果没有端口不需输入]：</div>
                <div><input style="width: 280px" id="u843_input" type="text" name="dport1"></div>
            </div>
            <div  style="float: left;" class="border">
                <div style="color: red"><h5>第二组</h5></div>
                <div>源VLAN:</div>
                <div><input style="width: 280px" id="u835_input2" type="text" name="svlan2"></div>
                <div>源IP地址：</div>
                <div><input style="width: 280px" id="u837_input2" type="text" name="sip2"></div>
                <div>目的VLAN：</div>
                <div><input style="width: 280px" id="u839_input2" type="text" name="dvlan2"></div>
                <div>目的IP地址：</div>
                <div><input style="width: 280px" id="u841_input2" type="text" name="dip2"></div>
                <div>目的端口[如果没有端口不需输入]：</div>
                <div><input style="width: 280px" id="u843_input2" type="text" name="dport2"></div>
            </div>
            <div style="float: left" class="border">
                <div style="color: red"><h5>第三组</h5></div>
                <div>源VLAN:</div>
                <div><input style="width: 280px" id="u835_input3" type="text" name="svlan3"></div>
                <div>源IP地址：</div>
                <div><input style="width: 280px" id="u837_input3" type="text" name="sip3"></div>
                <div>目的VLAN：</div>
                <div><input style="width: 280px" id="u839_input3" type="text" name="dvlan3"></div>
                <div>目的IP地址：</div>
                <div><input style="width: 280px" id="u841_input3" type="text" name="dip3"></div>
                <div>目的端口[如果没有端口不需输入]：</div>
                <div><input style="width: 280px" id="u843_input3" type="text" name="dport3"></div>
            </div>
            <div class="border">
                <div style="color: red"><h5>第四组</h5></div>
                <div>源VLAN:</div>
                <div><input style="width: 280px" id="u835_input4" type="text" name="svlan4"></div>
                <div>源IP地址：</div>
                <div><input style="width: 280px" id="u837_input4" type="text" name="sip4"></div>
                <div>目的VLAN：</div>
                <div><input style="width: 280px" id="u839_input4" type="text" name="dvlan4"></div>
                <div>目的IP地址：</div>
                <div><input style="width: 280px" id="u841_input4" type="text" name="dip4"></div>
                <div>目的端口[如果没有端口不需输入]：</div>
                <div><input style="width: 280px" id="u843_input4" type="text" name="dport4"></div>
            </div>
            <div class="p-2"><input type="submit" value="提交"></div>
        </form>
        <div class="border">
            <div style="color: red" class="p-1"><h5>配置输出如下：</h5></div>
            <div><textarea rows="15" cols="141" id="u843_input53" type="text">
                {% for i in cc %}
                    {{ i }}
                {% endfor %}
            </textarea></div>
        </div>
    </div>

{% endblock %}