{% extends "index.html" %}
{% block title %}
    <title>IP地址计算工具</title>
{% endblock %}
{% block body %}
    <div class="container-fluid border-2 bg-warning" style="width: 1200px">
        <h1>IP地址计算</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="border">
                <div style="display: inline-block" class="p-2">
                    <div>输入您的IP地址信息：</div>
                    <div><input id="internet" type="text" name="ipinfo" required></div>
                </div>
            </div>
            <div class="p-2"><input type="submit" value="提交"></div>
        </form>
        <div class="border">
            <div style="color: red" class="p-2"><h5>IP地址计算如下：</h5></div>
            <div><textarea rows="15" cols="141" id="u843_input55" style="color: red" type="text">

            +++++++++++++++++++++【网络信息如下】++++++++++++++++++++++++++++++
                        ******【本子网网络号】*******：   {{ networkhao }}

                        ******【子网掩码】***********：   /{{ mask }}

                        ******【第一个可用IP】*******：   {{ firstip }}

                        ******【最后一个可用IP】*****:     {{ lastip }}

                        ******【可用IP地址总数】*****:     {{ countip }}

                        ******【广播IP地址】*********：   {{ broadcastip }}
            +++++++++++++++++++++【网络信息如下】++++++++++++++++++++++++++++++


            </textarea></div>
        </div>
    </div>
{% endblock %}